@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    
}
Html, body{
    background-color: #020713;
    font-family: Arial, Helvetica, sans-serif;
    color: #f120a1;
    width: 99vw;
    height: 99vh;
    background-image: linear-gradient(to bottom, #f120a1,#ff3c38);
    background-repeat: no-repeat;
    background-image: url(../imagens/opus\ brasão.png);
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}
header {
    height: 150px;
    color: #ff3c38;
    background-image: url(../imagens/opus\ brasão\ 2.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: bottom center;
    border: 1px solid #ff3c38;
    
}
header > div {
    margin-top: 80px;
    margin: auto;
    background-color: #020815ea;
    border: 0.5px, solid #ff3c38;

}
header > div > h1{
    color: #e086d3;
    text-shadow: 1px 1px #e086d3;
    text-align:center; 
}

nav {
    background-color: #02081591;
    border: 1px solid #ff3c38;
    padding: 5px;
    text-align: center;
}
nav > ul > li {
    display: inline;
}
a {
    text-decoration: none;
    color: #e086d3;
    font-size: 1.1em;
    padding: 10px;
    margin-right: 5px;
    
}
a:hover {
    background-color: #f120a1;
    color: #020815;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.mainmen:hover{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #f120a1;
    color: #020815;
}

main > div {
    
    display: block;
    background-color: #020815c5;
    border: 1px solid #ff3c38;     
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    height: 700px;
    width: 350px;
}
main > article { 
    background-color: #020815c4;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ff3c38;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 1px 1px 1px #e086d3;
}
article > h2 {
    font-weight: normal;
    font-size: 1.3em;
   text-align: center;
   text-decoration: underline;
   margin-top: 10px;
   margin-bottom: 10px;
}

article > p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 10px;
}
#meme {
    width: 330px;
    height: 250px;
    display: block;  
    border: 1px solid #e086d3;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(../imagens/chari-potion-mobile.png);
    background-size: cover;
}
main > div > p{
    text-align: center;
    font-size: 1.1em;
    text-decoration: underline;

}
main > div > ul {
    text-align: center;
    list-style-type: none;
}

#juntese > ul > p {
    margin-top: 60px;
    text-decoration: underline;
}
#juntese > aside > li {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
#discordlink{
    margin-top: 50px;
}
#regras {
    height: 800px;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
#regras > p {
    font-size: 1.4em;
}
footer{
    font-size: 0.9em;
    font-weight: small;
    background-color: #020815;
    text-align: center;
    padding: 5px;
    margin-top: 5px;

}